/*Recipe CSS Styles*/
h1 {color: #ED684A;
    width: 400px;
    background-color:darkmagenta;
    border:2px solid yellowgreen;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}

h4 { text-align: center;

}

/*body text*/




