
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size:1rem;
    text-transform: uppercase;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

#top-nav{
    display:none;
}

.top-nav.top-nav:click{
    display:
}