
/*{
    margin:0;
    padding:0;
    border:none;

}*/



body{
    
    background-color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white
}


#wrapper{
    width:1200px;
    margin-right: auto;
    margin-left: auto;

}

header{
    padding: 4em 2em;
    background:
    linear-gradient(90deg, rgba(0,0,0,1) 28%, rgba(0,0,0,0) 100%),
    url("images/banner.png") no-repeat 300px top, 
    #000;


}

.bannerText{
    color: #fff;
    width: 45%;
    

}

.btn{
    color:#fff;
    background-color: rgb(255, 72, 0);
    text-decoration: none;
    padding: 0.75em; 1em;
    border-radius: 10px;
    display:inline-block;

}

nav{
    background-color:rgb(200, 200, 200);
    


    
}

nav ul{
    margin:0;
}

nav li{
    display:inline-block;
    margin-right:3em;
   
    

}

nav a{
    display:inline-block;
    padding: 0.75em 2em;
    text-decoration: none;
    color:black
}

nav a:hover{
    text-decoration: underline;
    background-color: rgb(160, 160, 160);
}

nav a:visited{
    color:black
}

footer{
    color:#fff;
    clear:both;
}